torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

librosa==0.10.1
soundfile>=0.12.1

dlib==19.24.0
face-alignment==1.4.0

opencv-python==4.8.1.78
Pillow>=10.0.0
kornia==0.6.12

facexlib==0.3.0
basicsr==1.4.2
gfpgan==1.3.8

einops==0.7.0
tqdm>=4.65.0
scipy>=1.11.4
matplotlib>=3.7.0
numpy==1.26.4

imageio[ffmpeg]==2.34.1
ffmpeg-python==0.2.0

gradio==4.26.0
ninja==1.11.1
